<html>
  <head>
    <style>
      body  {
      background-image: url("jds-bg.jpg");
      background-color: #cccccc;
      background-size: cover; /* Resize the background image to cover the entire container */
      }
      a {
      color: #dddddd;
      }
      #information {
      float: left;
      width: 50%;
#      background-color: #CCF;
      }
      #stats {
      float: right;
      width: 50%;
#      background-color: #FFA;
      }
      #cleared {
      clear: both;
      }
      .rTable {
      display: table;
      width: 100%;
      }
      .rTableRow {
      display: table-row;
      }
      .rTableHeading {
      display: table-header-group;
      background-color: #fff;
      font-wight: bold;
      }
      .rTableCell, .rTableHead {
      display: table-cell;
      padding: 3px 10px;
      border: 1px solid #999999;
      }
      .rTableHeading {
      display: table-header-group;
      background-color: #ddd;
      font-weight: bold;
      }
      .rTableFoot {
      display: table-footer-group;
      font-weight: bold;
      background-color: #ddd;
      }
      .rTableBody {
      display: table-row-group;
      }
    </style>
  </head>
  <title>
    Statistics from our work with Juneday's educationel material.
  </title>
  <body>
    <font color="white">
    [ Blogs (<a href="https://programmingpedagogy.wordpress.com/">Eng</a> / 
    <a href="https://programmeringspedagogik.wordpress.com">Swe</a>)
    | <a href="https://www.juneday.se">juneday.se</a>
    | <a href="https://juneday.podbean.com"> podcast</a>
    | <a href="https://github.com/progund"> source code</a>
    | <a href="https://twitter.com/prog_edu"> Twitter </a>
    | <a href="https://vimeo.com/user52531669">Vimeo</a>
    | <a href="http://stat.juneday.se"> Statistics</a> ]
    <br>
    <h1>
    <center>
      Statistics from our work with Juneday's educationel material.
    </center>
    </h1>
    <div id="wrapper">
      <div id="information">
	<h2>Introducing Juneday's statistics</h2>
	In March 2017 we started measuring our work with Juneday's educational material. The material includes:
	  <ul>
	    <li>
	      articles, exercises, assignments and suggested solutions over at <a href="http://wiki.juneday.se">wiki.juneday.se</a>
	    </li>
	    <li>
	      videos at <a href="https://vimeo.com/user52531669">vimeo</a> and <a href="https://www.youtube.com/channel/UCE_u3gWNS4h0ZEF9aFpDF2A">youtube</a>
	    </li>
	    <li>
	      pod at <a href="http://pod.juneday.se">pod.juneday.se</a>
	    </li>
	  </ul>
	  Usually we find it hard to talk about the amount of material
	  we've produced. Some don't understand what loc (lines of
	  code) means and how to compare that to something else, like
	  say an academic paper, and some may find it hard to grasp
	  what a certain number of pages corresponds to in another
	  measurement. We've decided to give you a hint by measuring
	  our text material and source code in books (with
	  __BOOK_PAGES__ pages) and the videos in DVDs
	  (__FILM_LENGTH__ minutes) you can buy in a store.
	  <br>
	  <br>
	Until __TODAY__ we've written
	<ul>
	  <li>
	    __TOTAL_BOOKS__ of text, exercises, solutions etc
	  </li>
	  <li>
	    __TOTAL_LOC_BOOKS__ of source code
	  </li>
	  <li>
	    __TOTAL_FILMS__
	  </li>
	</ul>
	<br>
	Here are some links if you're interested in more details:
	  <ul>
	    <li>
	      <a href="http://rameau.sandklef.com/junedaywiki-stats/jd-stat.html">Table of status reports (per day) since 2017</a>
	    </li>
	    <li>
	      <a href="http://rameau.sandklef.com/status/2.html">Work intensity last week and month</a>
	    </li>
	    <li>
	      <a href="/search.html">search</a> our statistics (in progress)
	    </li>
	  </ul>	
	
      </div>
      <div id="stats">
	<h2>Statistics from __TODAY__</h2>
	<h3>Last month (since __MONTH_PERIOD__) we've produced</h3>
	<div class="rTable">
	  <div class="rTableRow">
            <div class="rTableHead"><strong>Material</strong></div>
            <div class="rTableHead"><strong>Production (period/daily)</strong></div>
            <div class="rTableHead"><strong>Equals to...</strong></div>
          </div>
	  <div class="rTableRow">
            <div class="rTableCell"><a href="wiki.juneday.se">wiki.juneday.se</a></div>
            <div class="rTableCell">__WIKI_MONTH__ (__WIKI_MONTH_DAILY__)</div>
            <div class="rTableCell">__WIKI_MONTH_EQ__</div>
          </div>
	  <div class="rTableRow">
            <div class="rTableCell">Source code <a href="https://github.com/progund">github.com/progund</a></div>
            <div class="rTableCell">__SOURCE_MONTH__ (__SOURCE_MONTH_DAILY__)  lines of code</div>
            <div class="rTableCell">__SOURCE_MONTH_EQ__</div>
          </div>
	  <div class="rTableRow">
            <div class="rTableCell">Vimeo <a href="https://vimeo.com/user52531669">vimeo</a></div>
            <div class="rTableCell">__VIDEO_MONTH__ (__VIDEO_MONTH_DAILY__)</div>
            <div class="rTableCell">__VIDEO_MONTH_EQ__</div>
          </div>
	</div>
	<h3>Last year (since __YEAR_PERIOD__) we've produced</h3>
	<div class="rTable">
	  <div class="rTableRow">
            <div class="rTableHead"><strong>Material</strong></div>
            <div class="rTableHead"><strong>Production (period/daily)</strong></div>
            <div class="rTableHead"><strong>Equals to...</strong></div>
          </div>
	  <div class="rTableRow">
            <div class="rTableCell"><a href="wiki.juneday.se">wiki.juneday.se</a></div>
            <div class="rTableCell">__WIKI_YEAR__ (__WIKI_YEAR_DAILY__)</div>
            <div class="rTableCell">__WIKI_YEAR_EQ__</div>
          </div>
	  <div class="rTableRow">
            <div class="rTableCell">Source code <a href="https://github.com/progund">github.com/progund</a></div>
            <div class="rTableCell">__SOURCE_YEAR__ (__SOURCE_YEAR_DAILY__) lines of code</div>
            <div class="rTableCell">__SOURCE_YEAR_EQ__</div>
          </div>
	  <div class="rTableRow">
            <div class="rTableCell">Vimeo <a href="https://vimeo.com/user52531669">vimeo</a></div>
            <div class="rTableCell">__VIDEO_YEAR__ (__VIDEO_YEAR_DAILY__)</div>
            <div class="rTableCell">__VIDEO_YEAR_EQ__</div>
          </div>
	</div>
	
	</div>
	
      </div>
    </font>
  </body>
</html>

