<?xml version="1.0" encoding="utf-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>jdsapi</servlet-name>
    <servlet-class>se.juneday.junedaystat.JunedayStatAPI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>diffapi</servlet-name>
    <servlet-class>se.juneday.junedaystat.DiffAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdsapi</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>diffapi</servlet-name>
    <url-pattern>/diff</url-pattern>
  </servlet-mapping>
</web-app>
